/* Enter your custom styles here */
.selHdrKeyFontStyle {
    font-style: italic;
}

.activeRow {
    background-color: #e1ebf3 !important;
}

.requiredField {
    color: red !important;
}

.shipdocdtl .sapUiRespGrid {
    padding: 0.25rem !important;
}

.shipdocdtl .titleFontStyle {
    font-weight: bold;
}

.shipdocdtl .hdrTitleBgColor {
    background-color: lightgrey;
}

.shipdocdtl .sapMITBHead {
    margin: 0 0.75rem 0 0.25rem !important;
}

.shipdocdtl .sapMITBInLine.sapMITBTextOnly>.sapMITBVertical {
    height: 2.5rem !important;
}

.shipdocdtl .sapMITBInLine .sapMITBFilter>.sapMITBText {
    margin: 0.5rem 0 0.1875rem 0 !important;
}

.shipdocdtl .sapMITBInLine.sapMITBTextOnly>.sapMITBVertical.sapMITBFilter>.sapMITBText + .sapMITBContentArrow {
    height: 0.5rem !important;
}

.dtlToolbarBorderTop {
    border-top: 1px solid lightgrey;
}

.shipdocdtl .headerTitle {
    background-color: bisque !important;
    padding: 0.15rem 0.5rem !important;
    border-radius: 0.5rem !important;
    font-weight: bold !important;
    font-size: 1rem !important;
}

.sapMLabelRequired, .sapMLabelRequired::before {
    color: #c75858 !important;
}

.sapMDialogScroll {
    height: 98%;
}

.splitterMain > .sapMFlexItem, .splitter > .sapMFlexItem {
    height: 100%;
}

.icontabbar {
    position: relative;
    height: 100%;
}

.splitter section:nth-of-type(2) {
    display: flex !important;
}